In [1]:
#Packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#Importing Raw Data
bakers = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2022/2022-10-25/bakers.csv")
challenges = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2022/2022-10-25/challenges.csv")

## Bakers DataFrame

Order of operations for cleaning up the bakers dataframe:
1. Explore the data with .info, .describe, and .shape
2. Change Datatypes of int -> categories

In [3]:
bakers.info()
bakers.describe()
bakers.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   series                     120 non-null    int64
 1   baker                      120 non-null    object
 2   star_baker                 120 non-null    int64
 3   technical_winner           120 non-null    int64
 4   technical_top3             120 non-null    int64
 5   technical_bottom           120 non-null    int64
 6   technical_highest          119 non-null    float64
 7   technical_lowest           119 non-null    float64
 8   technical_median           119 non-null    float64
 9   series_winner              120 non-null    int64
 10  series_runner_up           120 non-null    int64
 11  total_episodes_appeared    120 non-null    int64
 12  first_date_appeared        95 non-null     object
 13  last_date_appeared         95 non-null     object
 14  first_date_us              0 non-null      float64
 15  last_date_us               0 non-null      float64
 16  percent_episodes_appeared  120 non-null    float64
 17  percent_technical_top3     120 non-null    float64
 18  baker_full                 120 non-null    object
 19  age                        120 non-null    int64
 20  occupation                 120 non-null    object
 21  hometown                   120 non-null    object
 22  baker_last                 120 non-null    object
 23  baker_first                120 non-null    object
dtypes: float64(7), int64(9), object(8)
memory usage: 22.6+ KB

(120, 24)

Set 'series', 'technical_highest','technical_lowest' to Category

In [3]:
bakers['series'] = bakers['series'].astype('category')
bakers['technical_highest'] = bakers['technical_highest'].astype('category')
bakers['technical_lowest'] = bakers['technical_lowest'].astype('category')

In [4]:
assert bakers['series'].dtype =='category'
assert bakers['technical_highest'].dtype =='category'
assert bakers['technical_lowest'].dtype =='category'

In [5]:
bakers.describe()

,star_baker,technical_winner,technical_top3,technical_bottom,technical_median,series_winner,series_runner_up,total_episodes_appeared,first_date_us,last_date_us,percent_episodes_appeared,percent_technical_top3,age
count,120.0,120.000000,120.000000,120.000000,119.000000,120.000000,120.0,120.000000,0.0,0.0,120.000000,120.000000,120.000000
mean,0.0,0.775000,2.325000,3.475000,5.638655,0.083333,0.0,5.916667,NaN,NaN,62.416667,30.464947,37.391667
std,0.0,0.991243,2.312416,1.680149,2.716806,0.277544,0.0,3.085840,NaN,NaN,31.269140,25.373092,12.896026
min,0.0,0.000000,0.000000,0.000000,1.500000,0.000000,0.0,1.000000,NaN,NaN,10.000000,0.000000,17.000000
25%,0.0,0.000000,0.000000,2.000000,3.500000,0.000000,0.0,3.000000,NaN,NaN,33.333333,0.000000,28.750000
50%,0.0,0.000000,2.000000,3.000000,5.000000,0.000000,0.0,6.000000,NaN,NaN,64.583333,33.333333,34.000000
75%,0.0,1.000000,4.000000,5.000000,7.000000,0.000000,0.0,9.000000,NaN,NaN,100.000000,50.000000,45.000000
max,0.0,5.000000,8.000000,7.000000,13.000000,1.000000,0.0,10.000000,NaN,NaN,100.000000,80.000000,71.000000

'star_baker','series_runner_up','first_date_us', 'last_date_us' have no data, remove them from the df

In [6]:
bakers_df = bakers.drop(columns =['star_baker','series_runner_up','first_date_us', 'last_date_us','technical_median','baker_full','baker'])

In [7]:
bakers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   series                     120 non-null    category
 1   technical_winner           120 non-null    int64
 2   technical_top3             120 non-null    int64
 3   technical_bottom           120 non-null    int64
 4   technical_highest          119 non-null    category
 5   technical_lowest           119 non-null    category
 6   series_winner              120 non-null    int64
 7   total_episodes_appeared    120 non-null    int64
 8   first_date_appeared        95 non-null     object
 9   last_date_appeared         95 non-null     object
 10  percent_episodes_appeared  120 non-null    float64
 11  percent_technical_top3     120 non-null    float64
 12  age                        120 non-null    int64
 13  occupation                 120 non-null    object
 14  hometown                   120 non-null    object
 15  baker_last                 120 non-null    object
 16  baker_first                120 non-null    object
dtypes: category(3), float64(2), int64(6), object(6)
memory usage: 15.0+ KB

reorder the dataframe to bring the baker's name left

In [8]:
bakers_df = bakers_df.iloc[:,np.r_[0,16,15,1:14]]

check for the NAs listed in technical_highest and lowestest

In [9]:
bakers_df.technical_lowest.isna().sum()
#1
bakers_df.technical_highest.isna().sum()
#1

1

Mark Whithers, from series 1, should have record a 10th place finish for technical highest and lowest. The NAs will be changed accordingly

In [10]:
bakers_df.technical_highest.fillna(10.0,inplace = True)
bakers_df.technical_lowest.fillna(10.0,inplace = True)

Determined the % of missing values for first_date_appeared / last_date_appeared. Due to the high percentage (26%) these columns will me removed from the dataset

In [11]:
bakers_df.first_date_appeared.isna().sum()/ bakers_df.first_date_appeared.count()

0.2631578947368421

In [12]:
bakers_df_final = bakers_df.drop(columns =['first_date_appeared','last_date_appeared'])

In [13]:
bakers_df_final

,series,baker_first,baker_last,technical_winner,technical_top3,technical_bottom,technical_highest,technical_lowest,series_winner,total_episodes_appeared,percent_episodes_appeared,percent_technical_top3,age,occupation
0,1,Annetha,Mills,0,1,1,2.0,7.0,0,2,33.333333,50.000000,30,Midwife
1,1,David,Chambers,0,1,3,3.0,8.0,0,4,66.666667,25.000000,31,Entrepreneur
2,1,Edward,Kimber,2,4,1,1.0,6.0,1,6,100.000000,66.666667,24,Debt collector for Yorkshire Bank
3,1,Jasminder,Randhawa,0,2,2,2.0,5.0,0,5,83.333333,40.000000,45,Assistant Credit Control Manager
4,1,Jonathan,Shepherd,1,1,2,1.0,9.0,0,3,50.000000,33.333333,25,Research Analyst
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,10,Michelle,Evans-Fecci,0,0,5,5.0,8.0,0,5,50.000000,0.000000,35,Print shop administrator
116,10,Phil,Thorne,0,1,3,3.0,10.0,0,4,40.000000,25.000000,56,HGV driver
117,10,Priya,O'Shea,0,1,5,2.0,10.0,0,6,60.000000,16.666667,34,Marketing consultant
118,10,Rosie,Brandreth-Poynter,2,4,5,1.0,9.0,0,9,90.000000,44.444444,28,Veterinary surgeon
119,10,Steph,Blackwell,1,6,4,1.0,10.0,0,10,100.000000,60.000000,28,Shop assistant

# Challenges Dataframe

8 instances exist for technicals with rankings of 0 yet are still in on the show. 6 of these have no info for "showstopper" or "Signiture". These 8 will be removed.

In [14]:
#challenges[(challenges.technical.isna()) & (challenges.result == 'IN')]
challenges_data_to_drop =challenges[(challenges.technical.isna()) & (challenges.result == 'IN')]

In [15]:
challenges_df = challenges[~challenges.isin(challenges_data_to_drop)]

Data exists for contestants that are no longer present. Can be viewed by the NAs in the result category an

In [16]:
challenges_index_to_drop = challenges_df[(challenges_df.technical.isna()) & (challenges_df.result.isna())]

In [17]:
challenges_df.drop(challenges_index_to_drop.index,inplace=True)

Terry will be removed (index 922,461). Due to an illnesses, they weren't present in the episodes

In [18]:
challenges_df.drop([922.461],inplace=True)

KeyError: '[922.461] not found in axis'

See if any season has 2 bakers with the same first name. If not then we can use the first name to merge on.

In [19]:
count_unique = challenges_df.groupby(['series','baker']).agg(
    uniquebakers =pd.NamedAgg(column = 'baker',aggfunc = 'nunique'))

In [20]:
count_unique[count_unique.uniquebakers > 1]

Empty DataFrame
Columns: [uniquebakers]
Index: []

In [21]:
count_unique = bakers_df_final.groupby(['series','baker_first'],observed = True).agg(
    uniquebakers =pd.NamedAgg(column = 'baker_first',aggfunc = 'nunique'))

In [22]:
count_unique[count_unique.uniquebakers > 1]

Empty DataFrame
Columns: [uniquebakers]
Index: []

figure out how to deal with these reamaining NAs

In [23]:
challenges_df[challenges_df.technical.isna()]

,series,episode,baker,result,signature,technical,showstopper
9,1.0,1.0,Mark,OUT,Sticky Marmalade Tea Loaf,NaN,Heart-shaped Chocolate and Beetroot Cake with ...
50,1.0,6.0,Miranda,Runner-up,Lemon Cupcake,NaN,NaN
51,1.0,6.0,Ruth,Runner-up,"Mint, Ginger and Blackberry Cake",NaN,Red Pepper and Cheese Quiche TartsSultana Scon...
52,1.0,6.0,Edd,WINNER,Cinnamon and Banana Cake,NaN,Chocolate and Ginger TartsLemon Scones with Pa...
461,5.0,5.0,Diana,WD,NaN,NaN,NaN
922,9.0,4.0,Terry,[a],NaN,NaN,NaN

In [24]:
challenges_df_final = pd.DataFrame(challenges_df.groupby(['series','baker']).agg({'signature':list, 'technical':list, 'showstopper':list}))

In [25]:
challenges_df_final.head()

                                                          signature  \
series baker
1.0    Annetha    [Light Jamaican Black Cakewith Strawberries an...
       David      [Chocolate Orange Cake, Cheddar Cheese and Fre...
       Edd        [Caramel Cinnamon and Banana Cake, Oatmeal Rai...
       Jasminder  [Millionaires' Shortbread, Focaccia, Sticky To...
       Jonathan   [Carrot Cake with Lime and Cream Cheese Icing,...

                                       technical  \
series baker
1.0    Annetha                        [2.0, 7.0]
       David                [3.0, 8.0, 4.0, 5.0]
       Edd        [1.0, 6.0, 1.0, 3.0, 2.0, nan]
       Jasminder            [2.0, 5.0, 2.0, 4.0]
       Jonathan                  [9.0, 1.0, 6.0]

                                                        showstopper
series baker
1.0    Annetha    [Red, White & Blue Chocolate Cake with Cigarel...
       David      [Black Forest Floor Gateaux with Moulded Choco...
       Edd        [nan, Pink Macarons, Tomato and Mozzarella, Ap...
       Jasminder  [Meringues with Chocolate and Space DustCoffee...
       Jonathan   [Three Tiered White and Dark Chocolate with Al...

# Combine Bakers and Challengers

In [26]:
bakers_challenges_df = bakers_df_final.merge(challenges_df_final, how = 'left', left_on = ['series','baker_first'], right_on = ['series','baker'])

In [294]:
bakers_challenges_df.head()

,series,baker_first,technical_winner,technical_top3,technical_bottom,technical_highest,technical_lowest,series_winner,total_episodes_appeared,percent_episodes_appeared,percent_technical_top3,age,occupation,signature,technical
0,1,Annetha,0,1,1,2.0,7.0,0,2,33.333333,50.000000,30,Midwife,[Light Jamaican Black Cakewith Strawberries an...,"[2.0, 7.0]"
1,1,David,0,1,3,3.0,8.0,0,4,66.666667,25.000000,31,Entrepreneur,"[Chocolate Orange Cake, Cheddar Cheese and Fre...","[3.0, 8.0, 4.0, 5.0]"
2,1,Edward,2,4,1,1.0,6.0,1,6,100.000000,66.666667,24,Debt collector for Yorkshire Bank,NaN,NaN
3,1,Jasminder,0,2,2,2.0,5.0,0,5,83.333333,40.000000,45,Assistant Credit Control Manager,"[Millionaires' Shortbread, Focaccia, Sticky To...","[2.0, 5.0, 2.0, 4.0]"
4,1,Jonathan,1,1,2,1.0,9.0,0,3,50.000000,33.333333,25,Research Analyst,"[Carrot Cake with Lime and Cream Cheese Icing,...","[9.0, 1.0, 6.0]"

In [ ]:
test_funct.drop(columns='test',inplace=True)

In [344]:
for x in test_funct.values:
    if x[3] =='OUT':
        print('yes')
    else:
        print('no')

no
no
no
no
no
yes
yes
no
no
no
no
no
no
yes
yes
no
no
no
no
no
yes
no
no
no
no
yes
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
yes
yes
no
no
no
no
no
no
yes
no
no
no
no
no
no
yes
yes
no
no
no
no
yes
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
yes
yes
no
no
no
no
yes
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
yes
yes
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
yes
no
no
no
no
no
yes
no
no
no
no
yes
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
yes
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
yes
no
no
no
no
no
yes
no
no
no
no
yes
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
yes
no
no
no
no
no
yes
no
no
no
no
yes
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
yes
no
no
no
no
no
yes
no
no
no
no
yes
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
yes
no
no
no
no
no
no
yes
no
no
no
no
no
yes
no
no
no
no
yes
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
no
no
yes
no
no
no
no
no
no
no
yes
yes
no
no
no
no
no
no
yes
no
no
no
no
no
yes
no
no
no
no
yes
no
no
no
yes
no
no
no
no

In [ ]:
For each series
    for each episode
        if result ='Out'
            count the number of bakers
            give a score next to their name which is equal to total count per season
            subtract the count of number of bakers by the total count

In [159]:
test_funct = challenges_df

In [412]:
challenges_df

,series,episode,baker,result,signature,technical,showstopper
0,1.0,1.0,Annetha,IN,Light Jamaican Black Cakewith Strawberries and...,2.0,"Red, White & Blue Chocolate Cake with Cigarell..."
1,1.0,1.0,David,IN,Chocolate Orange Cake,3.0,Black Forest Floor Gateaux with Moulded Chocol...
2,1.0,1.0,Edd,IN,Caramel Cinnamon and Banana Cake,1.0,NaN
4,1.0,1.0,Jonathan,IN,Carrot Cake with Lime and Cream Cheese Icing,9.0,Three Tiered White and Dark Chocolate with Alm...
6,1.0,1.0,Miranda,IN,Triple Layered Brownie Meringue Cake\nwith Ras...,8.0,Three Tiered Chocolate Fudge Cake with Handma...
...,...,...,...,...,...,...,...
1112,10.0,9.0,Rosie,OUT,"Lemon, Raspberry & Mint Domed Tarts",1.0,Time with Family
1113,10.0,9.0,Alice,STAR BAKER,"Mocha, Hazelnut & Orange Domed Tarts",4.0,Save Our Oceans
1123,10.0,10.0,Alice,Runner-up,"Chocolate, Pear, Ginger and Maple Cake",2.0,End of the School Year Celebration Picnic
1124,10.0,10.0,Steph,Runner-up,Black Forest Chocolate Cake,3.0,Picnic in the Park
1125,10.0,10.0,David,WINNER,"Chocolate, Armagnac and Prune Cake",1.0,Peachy Pic-Nik

In [475]:
#count the number of bakers per season
baker_count = test_funct.groupby('series')['baker'].nunique()

#for each series
for s in test_funct.series.unique():  
    #create a interable that counts the number of bakers that have been eliminated. Start at 0
    bakers_out = 0
    bakers_remaining = baker_count[int(s)]
    
    for e in test_funct.episode.unique():
        data_results = list(test_funct[(test_funct.series==s) & (test_funct.episode==e)].result)
        for x in data_results:
            print(s,e,x)
            if x =='OUT':
                print (s,e,bakers_remaining)
                bakers_out += 1
            else:
                print ('--')
            bakers_remaining -= bakers_out

1.0 1.0 IN
1.0 1.0 IN
1.0 1.0 IN
1.0 1.0 IN
1.0 1.0 IN
1.0 1.0 OUT
1.0 1.0 OUT
1.0 2.0 IN
1.0 2.0 IN
1.0 2.0 IN
1.0 2.0 IN
1.0 2.0 IN
1.0 2.0 IN
1.0 2.0 OUT
1.0 2.0 OUT
1.0 3.0 IN
1.0 3.0 IN
1.0 3.0 IN
1.0 3.0 IN
1.0 3.0 IN
1.0 3.0 OUT
1.0 4.0 IN
1.0 4.0 IN
1.0 4.0 IN
1.0 4.0 IN
1.0 4.0 OUT
1.0 5.0 IN
1.0 5.0 IN
1.0 5.0 IN
1.0 5.0 OUT
1.0 6.0 Runner-up
1.0 6.0 Runner-up
1.0 6.0 WINNER
2.0 1.0 IN
2.0 1.0 IN
2.0 1.0 IN
2.0 1.0 IN
2.0 1.0 IN
2.0 1.0 IN
2.0 1.0 IN
2.0 1.0 IN
2.0 1.0 IN
2.0 1.0 IN
2.0 1.0 OUT
2.0 1.0 STAR BAKER
2.0 2.0 IN
2.0 2.0 IN
2.0 2.0 IN
2.0 2.0 IN
2.0 2.0 IN
2.0 2.0 IN
2.0 2.0 IN
2.0 2.0 IN
2.0 2.0 IN
2.0 2.0 OUT
2.0 2.0 STAR BAKER
2.0 3.0 IN
2.0 3.0 IN
2.0 3.0 IN
2.0 3.0 IN
2.0 3.0 IN
2.0 3.0 IN
2.0 3.0 IN
2.0 3.0 OUT
2.0 3.0 OUT
2.0 3.0 STAR BAKER
2.0 4.0 IN
2.0 4.0 IN
2.0 4.0 IN
2.0 4.0 IN
2.0 4.0 IN
2.0 4.0 OUT
2.0 4.0 STAR BAKER
2.0 4.0 STAR BAKER
2.0 5.0 IN
2.0 5.0 IN
2.0 5.0 IN
2.0 5.0 IN
2.0 5.0 OUT
2.0 5.0 OUT
2.0 5.0 STAR BAKER
2.0 6.0 IN
2.0 6.0 IN
2.0 6.0 IN
2.0 6.0 OUT
2.0 6.0 STAR BAKER
2.0 7.0 IN
2.0 7.0 IN
2.0 7.0 IN
2.0 7.0 OUT
2.0 8.0 Runner-up
2.0 8.0 Runner-up
2.0 8.0 WINNER
3.0 1.0 IN
3.0 1.0 IN
3.0 1.0 IN
3.0 1.0 IN
3.0 1.0 IN
3.0 1.0 IN
3.0 1.0 IN
3.0 1.0 IN
3.0 1.0 IN
3.0 1.0 IN
3.0 1.0 OUT
3.0 1.0 STAR BAKER
3.0 2.0 IN
3.0 2.0 IN
3.0 2.0 IN
3.0 2.0 IN
3.0 2.0 IN
3.0 2.0 IN
3.0 2.0 IN
3.0 2.0 IN
3.0 2.0 IN
3.0 2.0 OUT
3.0 2.0 STAR BAKER
3.0 3.0 IN
3.0 3.0 IN
3.0 3.0 IN
3.0 3.0 IN
3.0 3.0 IN
3.0 3.0 IN
3.0 3.0 IN
3.0 3.0 IN
3.0 3.0 OUT
3.0 3.0 STAR BAKER
3.0 4.0 IN
3.0 4.0 IN
3.0 4.0 IN
3.0 4.0 IN
3.0 4.0 IN
3.0 4.0 IN
3.0 4.0 IN
3.0 4.0 OUT
3.0 4.0 STAR BAKER
3.0 5.0 IN
3.0 5.0 IN
3.0 5.0 IN
3.0 5.0 IN
3.0 5.0 IN
3.0 5.0 IN
3.0 5.0 OUT
3.0 5.0 STAR BAKER
3.0 6.0 IN
3.0 6.0 IN
3.0 6.0 IN
3.0 6.0 IN
3.0 6.0 IN
3.0 6.0 IN
3.0 6.0 STAR BAKER
3.0 7.0 IN
3.0 7.0 IN
3.0 7.0 IN
3.0 7.0 IN
3.0 7.0 OUT
3.0 7.0 OUT
3.0 7.0 STAR BAKER
3.0 8.0 IN
3.0 8.0 IN
3.0 8.0 IN
3.0 8.0 OUT
3.0 8.0 STAR BAKER
3.0 9.0 IN
3.0 9.0 IN
3.0 9.0 OUT
3.0 9.0 STAR BAKER
3.0 10.0 Runner-up
3.0 10.0 Runner-up
3.0 10.0 WINNER
4.0 1.0 IN
4.0 1.0 IN
4.0 1.0 IN
4.0 1.0 IN
4.0 1.0 IN
4.0 1.0 IN
4.0 1.0 IN
4.0 1.0 IN
4.0 1.0 IN
4.0 1.0 IN
4.0 1.0 IN
4.0 1.0 OUT
4.0 1.0 STAR BAKER
4.0 2.0 IN
4.0 2.0 IN
4.0 2.0 IN
4.0 2.0 IN
4.0 2.0 IN
4.0 2.0 IN
4.0 2.0 IN
4.0 2.0 IN
4.0 2.0 IN
4.0 2.0 IN
4.0 2.0 OUT
4.0 2.0 STAR BAKER
4.0 3.0 IN
4.0 3.0 IN
4.0 3.0 IN
4.0 3.0 IN
4.0 3.0 IN
4.0 3.0 IN
4.0 3.0 IN
4.0 3.0 IN
4.0 3.0 OUT
4.0 3.0 OUT
4.0 3.0 STAR BAKER
4.0 4.0 IN
4.0 4.0 IN
4.0 4.0 IN
4.0 4.0 IN
4.0 4.0 IN
4.0 4.0 IN
4.0 4.0 IN
4.0 4.0 OUT
4.0 4.0 STAR BAKER
4.0 5.0 IN
4.0 5.0 IN
4.0 5.0 IN
4.0 5.0 IN
4.0 5.0 IN
4.0 5.0 IN
4.0 5.0 OUT
4.0 5.0 STAR BAKER
4.0 6.0 IN
4.0 6.0 IN
4.0 6.0 IN
4.0 6.0 IN
4.0 6.0 IN
4.0 6.0 OUT
4.0 6.0 STAR BAKER
4.0 7.0 IN
4.0 7.0 IN
4.0 7.0 IN
4.0 7.0 IN
4.0 7.0 OUT
4.0 7.0 STAR BAKER
4.0 8.0 IN
4.0 8.0 IN
4.0 8.0 IN
4.0 8.0 OUT
4.0 8.0 STAR BAKER
4.0 9.0 IN
4.0 9.0 IN
4.0 9.0 OUT
4.0 9.0 STAR BAKER
4.0 10.0 Runner-up
4.0 10.0 Runner-up
4.0 10.0 WINNER
5.0 1.0 IN
5.0 1.0 IN
5.0 1.0 IN
5.0 1.0 IN
5.0 1.0 IN
5.0 1.0 IN
5.0 1.0 IN
5.0 1.0 IN
5.0 1.0 IN
5.0 1.0 IN
5.0 1.0 OUT
5.0 1.0 STAR BAKER
5.0 2.0 IN
5.0 2.0 IN
5.0 2.0 IN
5.0 2.0 IN
5.0 2.0 IN
5.0 2.0 IN
5.0 2.0 IN
5.0 2.0 IN
5.0 2.0 IN
5.0 2.0 OUT
5.0 2.0 STAR BAKER
5.0 3.0 IN
5.0 3.0 IN
5.0 3.0 IN
5.0 3.0 IN
5.0 3.0 IN
5.0 3.0 IN
5.0 3.0 IN
5.0 3.0 IN
5.0 3.0 OUT
5.0 3.0 STAR BAKER
5.0 4.0 IN
5.0 4.0 IN
5.0 4.0 IN
5.0 4.0 IN
5.0 4.0 IN
5.0 4.0 IN
5.0 4.0 IN
5.0 4.0 OUT
5.0 4.0 STAR BAKER
5.0 5.0 IN
5.0 5.0 IN
5.0 5.0 IN
5.0 5.0 IN
5.0 5.0 IN
5.0 5.0 OUT
5.0 5.0 STAR BAKER
5.0 5.0 WD
5.0 6.0 IN
5.0 6.0 IN
5.0 6.0 IN
5.0 6.0 IN
5.0 6.0 IN
5.0 6.0 STAR BAKER
5.0 7.0 IN
5.0 7.0 IN
5.0 7.0 IN
5.0 7.0 IN
5.0 7.0 OUT
5.0 7.0 STAR BAKER
5.0 8.0 IN
5.0 8.0 IN
5.0 8.0 IN
5.0 8.0 OUT
5.0 8.0 STAR BAKER
5.0 9.0 IN
5.0 9.0 IN
5.0 9.0 OUT
5.0 9.0 STAR BAKER
5.0 10.0 Runner-up
5.0 10.0 Runner-up
5.0 10.0 WINNER
6.0 1.0 IN
6.0 1.0 IN
6.0 1.0 IN
6.0 1.0 IN
6.0 1.0 IN
6.0 1.0 IN
6.0 1.0 IN
6.0 1.0 IN
6.0 1.0 IN
6.0 1.0 IN
6.0 1.0 OUT
6.0 1.0 STAR BAKER
6.0 2.0 IN
6.0 2.0 IN
6.0 2.0 IN
6.0 2.0 IN
6.0 2.0 IN
6.0 2.0 IN
6.0 2.0 IN
6.0 2.0 IN
6.0 2.0 IN
6.0 2.0 OUT
6.0 2.0 STAR BAKER
6.0 3.0 IN
6.0 3.0 IN
6.0 3.0 IN
6.0 3.0 IN
6.0 3.0 IN
6.0 3.0 IN
6.0 3.0 IN
6.0 3.0 IN
6.0 3.0 OUT
6.0 3.0 STAR BAKER
6.0 4.0 IN
6.0 4.0 IN
6.0 4.0 IN
6.0 4.0 IN
6.0 4.0 IN
6.0 4.0 IN
6.0 4.0 IN
6.0 4.0 OUT
6.0 4.0 STAR BAKER
6.0 5.0 IN
6.0 5.0 IN
6.0 5.0 IN
6.0 5.0 IN
6.0 5.0 IN
6.0 5.0 IN
6.0 5.0 OUT
6.0 5.0 STAR BAKER
6.0 6.0 IN
6.0 6.0 IN
6.0 6.0 IN
6.0 6.0 IN
6.0 6.0 IN
6.0 6.0 OUT
6.0 6.0 STAR BAKER
6.0 7.0 IN
6.0 7.0 IN
6.0 7.0 IN
6.0 7.0 IN
6.0 7.0 OUT
6.0 7.0 STAR BAKER
6.0 8.0 IN
6.0 8.0 IN
6.0 8.0 IN
6.0 8.0 OUT
6.0 8.0 STAR BAKER
6.0 9.0 IN
6.0 9.0 IN
6.0 9.0 OUT
6.0 9.0 STAR BAKER
6.0 10.0 Runner-up
6.0 10.0 Runner-up
6.0 10.0 WINNER
7.0 1.0 IN
7.0 1.0 IN
7.0 1.0 IN
7.0 1.0 IN
7.0 1.0 IN
7.0 1.0 IN
7.0 1.0 IN
7.0 1.0 IN
7.0 1.0 IN
7.0 1.0 IN
7.0 1.0 OUT
7.0 1.0 STAR BAKER
7.0 2.0 IN
7.0 2.0 IN
7.0 2.0 IN
7.0 2.0 IN
7.0 2.0 IN
7.0 2.0 IN
7.0 2.0 IN
7.0 2.0 IN
7.0 2.0 IN
7.0 2.0 OUT
7.0 2.0 STAR BAKER
7.0 3.0 IN
7.0 3.0 IN
7.0 3.0 IN
7.0 3.0 IN
7.0 3.0 IN
7.0 3.0 IN
7.0 3.0 IN
7.0 3.0 IN
7.0 3.0 OUT
7.0 3.0 STAR BAKER
7.0 4.0 IN
7.0 4.0 IN
7.0 4.0 IN
7.0 4.0 IN
7.0 4.0 IN
7.0 4.0 IN
7.0 4.0 IN
7.0 4.0 OUT
7.0 4.0 STAR BAKER
7.0 5.0 IN
7.0 5.0 IN
7.0 5.0 IN
7.0 5.0 IN
7.0 5.0 IN
7.0 5.0 IN
7.0 5.0 OUT
7.0 5.0 STAR BAKER
7.0 6.0 IN
7.0 6.0 IN
7.0 6.0 IN
7.0 6.0 IN
7.0 6.0 IN
7.0 6.0 OUT
7.0 6.0 STAR BAKER
7.0 7.0 IN
7.0 7.0 IN
7.0 7.0 IN
7.0 7.0 IN
7.0 7.0 OUT
7.0 7.0 STAR BAKER
7.0 8.0 IN
7.0 8.0 IN
7.0 8.0 IN
7.0 8.0 OUT
7.0 8.0 STAR BAKER
7.0 9.0 IN
7.0 9.0 IN
7.0 9.0 OUT
7.0 9.0 STAR BAKER
7.0 10.0 Runner-up
7.0 10.0 Runner-up
7.0 10.0 WINNER
8.0 1.0 IN
8.0 1.0 IN
8.0 1.0 IN
8.0 1.0 IN
8.0 1.0 IN
8.0 1.0 IN
8.0 1.0 IN
8.0 1.0 IN
8.0 1.0 IN
8.0 1.0 IN
8.0 1.0 OUT
8.0 1.0 STAR BAKER
8.0 2.0 IN
8.0 2.0 IN
8.0 2.0 IN
8.0 2.0 IN
8.0 2.0 IN
8.0 2.0 IN
8.0 2.0 IN
8.0 2.0 IN
8.0 2.0 IN
8.0 2.0 OUT
8.0 2.0 STAR BAKER
8.0 3.0 IN
8.0 3.0 IN
8.0 3.0 IN
8.0 3.0 IN
8.0 3.0 IN
8.0 3.0 IN
8.0 3.0 IN
8.0 3.0 IN
8.0 3.0 OUT
8.0 3.0 STAR BAKER
8.0 4.0 IN
8.0 4.0 IN
8.0 4.0 IN
8.0 4.0 IN
8.0 4.0 IN
8.0 4.0 IN
8.0 4.0 IN
8.0 4.0 OUT
8.0 4.0 STAR BAKER
8.0 5.0 IN
8.0 5.0 IN
8.0 5.0 IN
8.0 5.0 IN
8.0 5.0 IN
8.0 5.0 IN
8.0 5.0 OUT
8.0 5.0 STAR BAKER
8.0 6.0 IN
8.0 6.0 IN
8.0 6.0 IN
8.0 6.0 IN
8.0 6.0 IN
8.0 6.0 OUT
8.0 6.0 STAR BAKER
8.0 7.0 IN
8.0 7.0 IN
8.0 7.0 IN
8.0 7.0 IN
8.0 7.0 OUT
8.0 7.0 STAR BAKER
8.0 8.0 IN
8.0 8.0 IN
8.0 8.0 IN
8.0 8.0 OUT
8.0 8.0 STAR BAKER
8.0 9.0 IN
8.0 9.0 IN
8.0 9.0 OUT
8.0 9.0 STAR BAKER
8.0 10.0 Runner-up
8.0 10.0 Runner-up
8.0 10.0 WINNER
9.0 1.0 IN
9.0 1.0 IN
9.0 1.0 IN
9.0 1.0 IN
9.0 1.0 IN
9.0 1.0 IN
9.0 1.0 IN
9.0 1.0 IN
9.0 1.0 IN
9.0 1.0 IN
9.0 1.0 OUT
9.0 1.0 STAR BAKER
9.0 2.0 IN
9.0 2.0 IN
9.0 2.0 IN
9.0 2.0 IN
9.0 2.0 IN
9.0 2.0 IN
9.0 2.0 IN
9.0 2.0 IN
9.0 2.0 IN
9.0 2.0 OUT
9.0 2.0 STAR BAKER
9.0 3.0 IN
9.0 3.0 IN
9.0 3.0 IN
9.0 3.0 IN
9.0 3.0 IN
9.0 3.0 IN
9.0 3.0 IN
9.0 3.0 IN
9.0 3.0 OUT
9.0 3.0 STAR BAKER
9.0 4.0 [a]
9.0 4.0 IN
9.0 4.0 IN
9.0 4.0 IN
9.0 4.0 IN
9.0 4.0 IN
9.0 4.0 IN
9.0 4.0 IN
9.0 4.0 STAR BAKER
9.0 5.0 IN
9.0 5.0 IN
9.0 5.0 IN
9.0 5.0 IN
9.0 5.0 IN
9.0 5.0 IN
9.0 5.0 OUT
9.0 5.0 OUT
9.0 5.0 STAR BAKER
9.0 6.0 IN
9.0 6.0 IN
9.0 6.0 IN
9.0 6.0 IN
9.0 6.0 IN
9.0 6.0 OUT
9.0 6.0 STAR BAKER
9.0 7.0 IN
9.0 7.0 IN
9.0 7.0 IN
9.0 7.0 IN
9.0 7.0 OUT
9.0 7.0 STAR BAKER
9.0 8.0 IN
9.0 8.0 IN
9.0 8.0 IN
9.0 8.0 OUT
9.0 8.0 STAR BAKER
9.0 9.0 IN
9.0 9.0 IN
9.0 9.0 OUT
9.0 9.0 STAR BAKER
9.0 10.0 Runner-up
9.0 10.0 Runner-up
9.0 10.0 WINNER
10.0 1.0 IN
10.0 1.0 IN
10.0 1.0 IN
10.0 1.0 IN
10.0 1.0 IN
10.0 1.0 IN
10.0 1.0 IN
10.0 1.0 IN
10.0 1.0 IN
10.0 1.0 IN
10.0 1.0 IN
10.0 1.0 OUT
10.0 1.0 STAR BAKER
10.0 2.0 IN
10.0 2.0 IN
10.0 2.0 IN
10.0 2.0 IN
10.0 2.0 IN
10.0 2.0 IN
10.0 2.0 IN
10.0 2.0 IN
10.0 2.0 IN
10.0 2.0 IN
10.0 2.0 OUT
10.0 2.0 STAR BAKER
10.0 3.0 IN
10.0 3.0 IN
10.0 3.0 IN
10.0 3.0 IN
10.0 3.0 IN
10.0 3.0 IN
10.0 3.0 IN
10.0 3.0 IN
10.0 3.0 IN
10.0 3.0 OUT
10.0 3.0 STAR BAKER
10.0 4.0 IN
10.0 4.0 IN
10.0 4.0 IN
10.0 4.0 IN
10.0 4.0 IN
10.0 4.0 IN
10.0 4.0 IN
10.0 4.0 IN
10.0 4.0 OUT
10.0 4.0 STAR BAKER
10.0 5.0 IN
10.0 5.0 IN
10.0 5.0 IN
10.0 5.0 IN
10.0 5.0 IN
10.0 5.0 IN
10.0 5.0 OUT
10.0 5.0 OUT
10.0 5.0 STAR BAKER
10.0 6.0 IN
10.0 6.0 IN
10.0 6.0 IN
10.0 6.0 IN
10.0 6.0 IN
10.0 6.0 OUT
10.0 6.0 STAR BAKER
10.0 7.0 IN
10.0 7.0 IN
10.0 7.0 IN
10.0 7.0 IN
10.0 7.0 OUT
10.0 7.0 STAR BAKER
10.0 8.0 IN
10.0 8.0 IN
10.0 8.0 IN
10.0 8.0 OUT
10.0 8.0 STAR BAKER
10.0 9.0 IN
10.0 9.0 IN
10.0 9.0 OUT
10.0 9.0 STAR BAKER
10.0 10.0 Runner-up
10.0 10.0 Runner-up
10.0 10.0 WINNER

In [452]:
test_funct[test_funct.episode ==1].head(30)

,series,episode,baker,result,signature,technical,showstopper
0,1.0,1.0,Annetha,IN,Light Jamaican Black Cakewith Strawberries and...,2.0,"Red, White & Blue Chocolate Cake with Cigarell..."
1,1.0,1.0,David,IN,Chocolate Orange Cake,3.0,Black Forest Floor Gateaux with Moulded Chocol...
2,1.0,1.0,Edd,IN,Caramel Cinnamon and Banana Cake,1.0,NaN
4,1.0,1.0,Jonathan,IN,Carrot Cake with Lime and Cream Cheese Icing,9.0,Three Tiered White and Dark Chocolate with Alm...
6,1.0,1.0,Miranda,IN,Triple Layered Brownie Meringue Cake\nwith Ras...,8.0,Three Tiered Chocolate Fudge Cake with Handma...
8,1.0,1.0,Lea,OUT,Cranberry and Pistachio Cakewith Orange Flower...,10.0,Raspberries and Cream filled Chocolatewith Cho...
9,1.0,1.0,Mark,OUT,Sticky Marmalade Tea Loaf,NaN,Heart-shaped Chocolate and Beetroot Cake with ...
60,2.0,1.0,Ben,IN,Rhubarb and Custard CupcakesAfter Dinner Cupcakes,2.0,Vanilla Sponge with White Chocolate and Raspbe...
61,2.0,1.0,Ian,IN,Apple and Cinnamon Cupcakes,10.0,NaN
62,2.0,1.0,Janet,IN,Raspberry and Cream Cupcakes,8.0,Chocolate Marble Cakewith Dark and White Choco...
63,2.0,1.0,Jason,IN,Lemon Meringue CupcakesApple and Cinnamon Cupc...,6.0,NaN
64,2.0,1.0,Joanne,IN,Chocolate Orange CupcakesOrange and Cardamom C...,11.0,Chocolate and Strawberry Cake
65,2.0,1.0,Mary-Anne,IN,Banoffee Cupcakes,4.0,Chocolate and Raspberry Opera Cake
66,2.0,1.0,Robert,IN,Blackberry and Vanilla Cupcakeswith Liquorice ...,3.0,Genoise Layered Mousse Cakewith Chocolate Ganache
67,2.0,1.0,Simon,IN,Guinness and Chocolate Cupcakes,9.0,Two-Tiered Chocolate Courgette Cake
68,2.0,1.0,Urvashi,IN,Cherry Blossom CupcakesJapanese Lime Cupcakes,7.0,NaN
69,2.0,1.0,Yasmin,IN,Cardamom and Pomegranate Cupcakes,5.0,NaN
70,2.0,1.0,Keith,OUT,Earl Grey Cupcakes,12.0,Chocolate and Sour Cream Cake
71,2.0,1.0,Holly,STAR BAKER,Cherry Bakewell Inspired CupcakesGinger Cupcak...,1.0,Novelty Farm Cake
156,3.0,1.0,Brendan,IN,"Plum, Sour Cherry & Walnut Upside Down Cake",10.0,St. Patrick's Day Cake with Hidden Irish Flag[12]
157,3.0,1.0,Cathryn,IN,"Apple, Hazelnut and Calvados Upside Down Cake",5.0,Hidden Cupcake Cake
158,3.0,1.0,Danny,IN,"Plum, Ginger & Orange Upside Down Cake",7.0,Nectar Cake with Hidden Beehive[13]
159,3.0,1.0,James,IN,"Parsnip, Pear, and Pecan Upside Down Cake",2.0,"""Simmer Dim"" Sunset Cake"
160,3.0,1.0,John,IN,"Toffee Apple, Orange & Cranberry Upside Down Cake",11.0,Hidden Pink Hearts Cake
161,3.0,1.0,Manisha,IN,"Vanilla, Peach and Raspberry Upside Down Cake",6.0,White Chocolate Cake with a Red Velvet and Whi...
162,3.0,1.0,Peter,IN,"Pear, Muscat & Chocolate Upside Down Cake",3.0,Jubilee Cake
163,3.0,1.0,Ryan,IN,Kumquat and Orange Polenta Upside Down Cake,8.0,Hidden Flowerbed Mousse Cake
164,3.0,1.0,Sarah-Jane,IN,"Pear, Chocolate and Hazelnut Upside Down Cake",1.0,Hidden Crown Cake
165,3.0,1.0,Stuart,IN,Tomato and Ginger Upside Down Cake,9.0,Lemon and Pistachio Union Flag Cake
166,3.0,1.0,Natasha,OUT,Pineapple & Passion Fruit Upside Down Cake,12.0,Mother's Day Layered Rose Cake

In [407]:
test_funct.drop(columns='final_score',inplace = True)

In [ ]:
def final_score(df):
#count the number of bakers per season
    baker_count = df.groupby('series')['baker'].nunique()
    #for each season
    for s in df.series:  
        #create a interable that counts the number of bakers that have been eliminated. Start at 0
        bakers_out = 0
        bakers_remaining = baker_count[int(s)]
        #for each season
        for e in df.episode:
            #does result say OUT for each contestant?
            def assign_score(row):
                if row =='OUT':
            
            #if df.loc[df.result] == 'OUT':
            df['final_score'] = df['result'].apply(lamba x: bakers_remaining if x =='OUT' else next)
                #if so, then we'll add +1 to our bakers_out iterator. 
                bakers_out +=1
                
                #set the final score category to our baker_count iterator
                df['final_score'] = bakers_remaining
                
                #subtract the number of bakers left by the amount we just lost
                bakers_remaining -= bakers_out
            else:
                next
    return df

Below doesn't work and will be kept for questions

In [145]:
def finalplace(df):
    countbakers = df[['series','baker']].copy()
    countbakers['total_per_season'] = df.sort_values(['series'],ascending = False).groupby('series')['baker'].nunique()
    
    return countbakers