In [1]:
#Packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#Importing Raw Data
bakers = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2022/2022-10-25/bakers.csv")
challenges = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2022/2022-10-25/challenges.csv")

## Bakers DataFrame

1. series, technical_highest, and technical_lowest needs to bea  category
2. baker can be removed, we can use baker_full to get first and last name
3. star_baker, series_runner_up, first_date_us, last_date_us are null category, we can remove it. 
4. removing technical_median from the dataset. I can't determine how it is calculated. 
5. removing baker and baker_full. Going to keep baker_first and baker_last
6. reorganize the dataframe to bring the baker's first and last name to the left
7. Setting NAs to 10th. Only 1 example of an NA for technical_highest and lowest
8. 26% of first_date_appeared and last_date_appeared are missing. These categories aren't important so I will remove

In [3]:
bakers.info()
bakers.describe()
bakers.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   series                     120 non-null    int64
 1   baker                      120 non-null    object
 2   star_baker                 120 non-null    int64
 3   technical_winner           120 non-null    int64
 4   technical_top3             120 non-null    int64
 5   technical_bottom           120 non-null    int64
 6   technical_highest          119 non-null    float64
 7   technical_lowest           119 non-null    float64
 8   technical_median           119 non-null    float64
 9   series_winner              120 non-null    int64
 10  series_runner_up           120 non-null    int64
 11  total_episodes_appeared    120 non-null    int64
 12  first_date_appeared        95 non-null     object
 13  last_date_appeared         95 non-null     object
 14  first_date_us              0 non-null      float64
 15  last_date_us               0 non-null      float64
 16  percent_episodes_appeared  120 non-null    float64
 17  percent_technical_top3     120 non-null    float64
 18  baker_full                 120 non-null    object
 19  age                        120 non-null    int64
 20  occupation                 120 non-null    object
 21  hometown                   120 non-null    object
 22  baker_last                 120 non-null    object
 23  baker_first                120 non-null    object
dtypes: float64(7), int64(9), object(8)
memory usage: 22.6+ KB

(120, 24)

Set 'series', 'technical_highest','technical_lowest' to Category

In [4]:
bakers['series'] = bakers['series'].astype('category')
bakers['technical_highest'] = bakers['technical_highest'].astype('category')
bakers['technical_lowest'] = bakers['technical_lowest'].astype('category')

In [5]:
assert bakers['series'].dtype =='category'
assert bakers['technical_highest'].dtype =='category'
assert bakers['technical_lowest'].dtype =='category'

In [6]:
bakers.describe()

,star_baker,technical_winner,technical_top3,technical_bottom,technical_median,series_winner,series_runner_up,total_episodes_appeared,first_date_us,last_date_us,percent_episodes_appeared,percent_technical_top3,age
count,120.0,120.000000,120.000000,120.000000,119.000000,120.000000,120.0,120.000000,0.0,0.0,120.000000,120.000000,120.000000
mean,0.0,0.775000,2.325000,3.475000,5.638655,0.083333,0.0,5.916667,NaN,NaN,62.416667,30.464947,37.391667
std,0.0,0.991243,2.312416,1.680149,2.716806,0.277544,0.0,3.085840,NaN,NaN,31.269140,25.373092,12.896026
min,0.0,0.000000,0.000000,0.000000,1.500000,0.000000,0.0,1.000000,NaN,NaN,10.000000,0.000000,17.000000
25%,0.0,0.000000,0.000000,2.000000,3.500000,0.000000,0.0,3.000000,NaN,NaN,33.333333,0.000000,28.750000
50%,0.0,0.000000,2.000000,3.000000,5.000000,0.000000,0.0,6.000000,NaN,NaN,64.583333,33.333333,34.000000
75%,0.0,1.000000,4.000000,5.000000,7.000000,0.000000,0.0,9.000000,NaN,NaN,100.000000,50.000000,45.000000
max,0.0,5.000000,8.000000,7.000000,13.000000,1.000000,0.0,10.000000,NaN,NaN,100.000000,80.000000,71.000000

'star_baker','series_runner_up','first_date_us', 'last_date_us' have no data, remove them from the df

In [7]:
bakers_df = bakers.drop(columns =['star_baker','series_runner_up','first_date_us', 'last_date_us','technical_median','baker_full','baker'])

In [8]:
bakers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   series                     120 non-null    category
 1   technical_winner           120 non-null    int64
 2   technical_top3             120 non-null    int64
 3   technical_bottom           120 non-null    int64
 4   technical_highest          119 non-null    category
 5   technical_lowest           119 non-null    category
 6   series_winner              120 non-null    int64
 7   total_episodes_appeared    120 non-null    int64
 8   first_date_appeared        95 non-null     object
 9   last_date_appeared         95 non-null     object
 10  percent_episodes_appeared  120 non-null    float64
 11  percent_technical_top3     120 non-null    float64
 12  age                        120 non-null    int64
 13  occupation                 120 non-null    object
 14  hometown                   120 non-null    object
 15  baker_last                 120 non-null    object
 16  baker_first                120 non-null    object
dtypes: category(3), float64(2), int64(6), object(6)
memory usage: 15.0+ KB

reorder the dataframe to bring the baker's name left

In [9]:
bakers_df = bakers_df.iloc[:,np.r_[0,16,15,1:14]]

check for the NAs listed in technical_highest and lowestest

In [10]:
bakers_df.technical_lowest.isna().sum()
#1
bakers_df.technical_highest.isna().sum()
#1

1

Mark Whithers, from series 1, should have record a 10th place finish for technical highest and lowest. The NAs will be changed accordingly

In [11]:
bakers_df.technical_highest.fillna(10.0,inplace = True)
bakers_df.technical_lowest.fillna(10.0,inplace = True)

Determined the % of missing values for first_date_appeared / last_date_appeared. Due to the high percentage (26%) these columns will me removed from the dataset

In [12]:
bakers_df.first_date_appeared.isna().sum()/ bakers_df.first_date_appeared.count()

0.2631578947368421

In [13]:
bakers_df_final = bakers_df.drop(columns =['first_date_appeared','last_date_appeared'])

In [14]:
bakers_df_final

,series,baker_first,baker_last,technical_winner,technical_top3,technical_bottom,technical_highest,technical_lowest,series_winner,total_episodes_appeared,percent_episodes_appeared,percent_technical_top3,age,occupation
0,1,Annetha,Mills,0,1,1,2.0,7.0,0,2,33.333333,50.000000,30,Midwife
1,1,David,Chambers,0,1,3,3.0,8.0,0,4,66.666667,25.000000,31,Entrepreneur
2,1,Edward,Kimber,2,4,1,1.0,6.0,1,6,100.000000,66.666667,24,Debt collector for Yorkshire Bank
3,1,Jasminder,Randhawa,0,2,2,2.0,5.0,0,5,83.333333,40.000000,45,Assistant Credit Control Manager
4,1,Jonathan,Shepherd,1,1,2,1.0,9.0,0,3,50.000000,33.333333,25,Research Analyst
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,10,Michelle,Evans-Fecci,0,0,5,5.0,8.0,0,5,50.000000,0.000000,35,Print shop administrator
116,10,Phil,Thorne,0,1,3,3.0,10.0,0,4,40.000000,25.000000,56,HGV driver
117,10,Priya,O'Shea,0,1,5,2.0,10.0,0,6,60.000000,16.666667,34,Marketing consultant
118,10,Rosie,Brandreth-Poynter,2,4,5,1.0,9.0,0,9,90.000000,44.444444,28,Veterinary surgeon
119,10,Steph,Blackwell,1,6,4,1.0,10.0,0,10,100.000000,60.000000,28,Shop assistant

# Challenges Dataframe

1. Data exists for contestants that are no longer present. Can be viewed by the NAs in the result category. 
2. 8 instances exist for technicals with rankings of 0 yet are still in on the show. 6 of these have no info for "showstopper" or "Signiture". These 8 will be removed.
3. series 9, episode 4, Terry was sick. I'll remove this data point from the set
4. a few more NAs to deal with later
5. Group by series and baker and create lists of signatures, technicals and showstoppers. Append to the bakers list on series and baker

8 instances exist for technicals with rankings of 0 yet are still in on the show. 6 of these have no info for "showstopper" or "Signiture". These 8 will be removed.

In [15]:
#challenges[(challenges.technical.isna()) & (challenges.result == 'IN')]
challenges_data_to_drop =challenges[(challenges.technical.isna()) & (challenges.result == 'IN')]

In [16]:
challenges_df = challenges[~challenges.isin(challenges_data_to_drop)]

Data exists for contestants that are no longer present. Can be viewed by the NAs in the result category an

In [17]:
challenges_index_to_drop = challenges_df[(challenges_df.technical.isna()) & (challenges_df.result.isna())]

In [18]:
challenges_df.drop(challenges_index_to_drop.index,inplace=True)

Terry will be removed (index 922,461). Due to an illnesses, they weren't present in the episodes

In [ ]:
challenges_df.drop([922.461],inplace=True)

See if any season has 2 bakers with the same first name. If not then we can use the first name to merge on.

In [ ]:
count_unique = challenges_df.groupby(['series','baker']).agg(
    uniquebakers =pd.NamedAgg(column = 'baker',aggfunc = 'nunique'))

In [ ]:
count_unique[count_unique.uniquebakers > 1]

In [ ]:
count_unique = bakers_df_final.groupby(['series','baker_first'],observed = True).agg(
    uniquebakers =pd.NamedAgg(column = 'baker_first',aggfunc = 'nunique'))

In [ ]:
count_unique[count_unique.uniquebakers > 1]

figure out how to deal with these reamaining NAs

In [ ]:
challenges_df[challenges_df.technical.isna()]

For each baker, create lists of signatures, technical scores, and showstoppers

In [23]:
challenges_df_final = pd.DataFrame(challenges_df.groupby(['series','baker']).agg({'signature':list, 'technical':list, 'showstopper':list}))

In [24]:
challenges_df_final.head()

                                                          signature  \
series baker
1.0    Annetha    [Light Jamaican Black Cakewith Strawberries an...
       David      [Chocolate Orange Cake, Cheddar Cheese and Fre...
       Edd        [Caramel Cinnamon and Banana Cake, Oatmeal Rai...
       Jasminder  [Millionaires' Shortbread, Focaccia, Sticky To...
       Jonathan   [Carrot Cake with Lime and Cream Cheese Icing,...

                                       technical  \
series baker
1.0    Annetha                        [2.0, 7.0]
       David                [3.0, 8.0, 4.0, 5.0]
       Edd        [1.0, 6.0, 1.0, 3.0, 2.0, nan]
       Jasminder            [2.0, 5.0, 2.0, 4.0]
       Jonathan                  [9.0, 1.0, 6.0]

                                                        showstopper
series baker
1.0    Annetha    [Red, White & Blue Chocolate Cake with Cigarel...
       David      [Black Forest Floor Gateaux with Moulded Choco...
       Edd        [nan, Pink Macarons, Tomato and Mozzarella, Ap...
       Jasminder  [Meringues with Chocolate and Space DustCoffee...
       Jonathan   [Three Tiered White and Dark Chocolate with Al...

# Combine Bakers and Challengers

In [26]:
bakers_challenges_df = bakers_df_final.merge(challenges_df_final, how = 'left', left_on = ['series','baker_first'], right_on = ['series','baker'])

In [30]:
bakers_challenges_df

,series,baker_first,baker_last,technical_winner,technical_top3,technical_bottom,technical_highest,technical_lowest,series_winner,total_episodes_appeared,percent_episodes_appeared,percent_technical_top3,age,occupation,signature,technical,showstopper
0,1,Annetha,Mills,0,1,1,2.0,7.0,0,2,33.333333,50.000000,30,Midwife,[Light Jamaican Black Cakewith Strawberries an...,"[2.0, 7.0]","[Red, White & Blue Chocolate Cake with Cigarel..."
1,1,David,Chambers,0,1,3,3.0,8.0,0,4,66.666667,25.000000,31,Entrepreneur,"[Chocolate Orange Cake, Cheddar Cheese and Fre...","[3.0, 8.0, 4.0, 5.0]",[Black Forest Floor Gateaux with Moulded Choco...
2,1,Edward,Kimber,2,4,1,1.0,6.0,1,6,100.000000,66.666667,24,Debt collector for Yorkshire Bank,NaN,NaN,NaN
3,1,Jasminder,Randhawa,0,2,2,2.0,5.0,0,5,83.333333,40.000000,45,Assistant Credit Control Manager,"[Millionaires' Shortbread, Focaccia, Sticky To...","[2.0, 5.0, 2.0, 4.0]",[Meringues with Chocolate and Space DustCoffee...
4,1,Jonathan,Shepherd,1,1,2,1.0,9.0,0,3,50.000000,33.333333,25,Research Analyst,"[Carrot Cake with Lime and Cream Cheese Icing,...","[9.0, 1.0, 6.0]",[Three Tiered White and Dark Chocolate with Al...

In [32]:
challenges_df.apply?

In [33]:
test_funct = challenges_df

In [52]:
baker_count = list(test_funct.groupby('series')['baker'].nunique())
baker_count

[10, 12, 12, 13, 12, 12, 12, 12, 12, 13]

In [53]:
def final_result(x): 
    baker_amount = list(test_funct.groupby('series')['baker'].nunique())
    for s in baker_amount:
        if x == 'OUT':
            return baker_amount
            break
        else:
            return 'good'
test_funct['test'] = test_funct.result.apply(final_result)

test_funct

,series,episode,baker,result,signature,technical,showstopper,test
0,1.0,1.0,Annetha,IN,Light Jamaican Black Cakewith Strawberries and...,2.0,"Red, White & Blue Chocolate Cake with Cigarell...",good
1,1.0,1.0,David,IN,Chocolate Orange Cake,3.0,Black Forest Floor Gateaux with Moulded Chocol...,good
2,1.0,1.0,Edd,IN,Caramel Cinnamon and Banana Cake,1.0,NaN,good
4,1.0,1.0,Jonathan,IN,Carrot Cake with Lime and Cream Cheese Icing,9.0,Three Tiered White and Dark Chocolate with Alm...,good
6,1.0,1.0,Miranda,IN,Triple Layered Brownie Meringue Cake\nwith Ras...,8.0,Three Tiered Chocolate Fudge Cake with Handma...,good
...,...,...,...,...,...,...,...,...
1112,10.0,9.0,Rosie,OUT,"Lemon, Raspberry & Mint Domed Tarts",1.0,Time with Family,"[10, 12, 12, 13, 12, 12, 12, 12, 12, 13]"
1113,10.0,9.0,Alice,STAR BAKER,"Mocha, Hazelnut & Orange Domed Tarts",4.0,Save Our Oceans,good
1123,10.0,10.0,Alice,Runner-up,"Chocolate, Pear, Ginger and Maple Cake",2.0,End of the School Year Celebration Picnic,good
1124,10.0,10.0,Steph,Runner-up,Black Forest Chocolate Cake,3.0,Picnic in the Park,good
1125,10.0,10.0,David,WINNER,"Chocolate, Armagnac and Prune Cake",1.0,Peachy Pic-Nik,good

In [47]:
#test_funct.drop(columns='test', inplace = True)
test_funct

,series,episode,baker,result,signature,technical,showstopper
0,1.0,1.0,Annetha,IN,Light Jamaican Black Cakewith Strawberries and...,2.0,"Red, White & Blue Chocolate Cake with Cigarell..."
1,1.0,1.0,David,IN,Chocolate Orange Cake,3.0,Black Forest Floor Gateaux with Moulded Chocol...
2,1.0,1.0,Edd,IN,Caramel Cinnamon and Banana Cake,1.0,NaN
4,1.0,1.0,Jonathan,IN,Carrot Cake with Lime and Cream Cheese Icing,9.0,Three Tiered White and Dark Chocolate with Alm...
6,1.0,1.0,Miranda,IN,Triple Layered Brownie Meringue Cake\nwith Ras...,8.0,Three Tiered Chocolate Fudge Cake with Handma...
...,...,...,...,...,...,...,...
1112,10.0,9.0,Rosie,OUT,"Lemon, Raspberry & Mint Domed Tarts",1.0,Time with Family
1113,10.0,9.0,Alice,STAR BAKER,"Mocha, Hazelnut & Orange Domed Tarts",4.0,Save Our Oceans
1123,10.0,10.0,Alice,Runner-up,"Chocolate, Pear, Ginger and Maple Cake",2.0,End of the School Year Celebration Picnic
1124,10.0,10.0,Steph,Runner-up,Black Forest Chocolate Cake,3.0,Picnic in the Park
1125,10.0,10.0,David,WINNER,"Chocolate, Armagnac and Prune Cake",1.0,Peachy Pic-Nik

In [34]:
test_funct[test_funct.series==1]

,series,episode,baker,result,signature,technical,showstopper
0,1.0,1.0,Annetha,IN,Light Jamaican Black Cakewith Strawberries and...,2.0,"Red, White & Blue Chocolate Cake with Cigarell..."
1,1.0,1.0,David,IN,Chocolate Orange Cake,3.0,Black Forest Floor Gateaux with Moulded Chocol...
2,1.0,1.0,Edd,IN,Caramel Cinnamon and Banana Cake,1.0,NaN
4,1.0,1.0,Jonathan,IN,Carrot Cake with Lime and Cream Cheese Icing,9.0,Three Tiered White and Dark Chocolate with Alm...
6,1.0,1.0,Miranda,IN,Triple Layered Brownie Meringue Cake\nwith Ras...,8.0,Three Tiered Chocolate Fudge Cake with Handma...
8,1.0,1.0,Lea,OUT,Cranberry and Pistachio Cakewith Orange Flower...,10.0,Raspberries and Cream filled Chocolatewith Cho...
9,1.0,1.0,Mark,OUT,Sticky Marmalade Tea Loaf,NaN,Heart-shaped Chocolate and Beetroot Cake with ...
10,1.0,2.0,David,IN,Cheddar Cheese and Fresh Rosemary Biscuits,8.0,Choux Pastry Swans Chocolate Profiteroles
11,1.0,2.0,Edd,IN,Oatmeal Raisin Cookie,6.0,Pink Macarons
12,1.0,2.0,Jasminder,IN,Millionaires' Shortbread,2.0,Meringues with Chocolate and Space DustCoffee ...
13,1.0,2.0,Jonathan,IN,Honey and Candied Ginger Cookies,1.0,Meringues with Whiskey Cream
14,1.0,2.0,Miranda,IN,Fresh Vanilla Biscuits with Royal Icing,3.0,Pistachio Macarons
15,1.0,2.0,Ruth,IN,Peanut Shortbread withSalted Peanut Caramel,5.0,Almond Macaron with Violet ButtercreamRaspberr...
16,1.0,2.0,Annetha,OUT,Rose Petal Shortbread,7.0,Pink Swirl Macarons / Eclairs
17,1.0,2.0,Louise,OUT,Stained Glass Window Shortbread,4.0,"Strawberry, Mint, and Cream Meringues Chocola..."
20,1.0,3.0,David,IN,Chilli Bread,4.0,Walnut and Seed RollRed Berry and Almond Bun
21,1.0,3.0,Edd,IN,Olive Bread,1.0,Tomato and Mozzarella
22,1.0,3.0,Jasminder,IN,Focaccia,5.0,Mango and Sultana BunsPan au Chocolat with Mar...
23,1.0,3.0,Miranda,IN,Walnut and Apricot Bread,3.0,Lemon Iced BunsChocolate and Orange Buns
24,1.0,3.0,Ruth,IN,Maple and Pecan Bread,2.0,Chocolate and Orange PanettoneCranberry Bagels
25,1.0,3.0,Jonathan,OUT,"Anchovy, Sweet Paprika and Oregano Bread",6.0,Sticky Lemon Honey Bun Olive and Anchovy RollS...
30,1.0,4.0,Edd,IN,Apple and Plum Pudding,3.0,"Apple and Cinnamon Crumble, Nutella Banana Bri..."
31,1.0,4.0,Jasminder,IN,Sticky Toffee Pudding with Tropical Fruit & To...,2.0,"Bread & Butter Pudding, Treacle Suet Pudding w..."
32,1.0,4.0,Miranda,IN,Sticky Toffee Pudding,1.0,"Queen of Puddings, Chocolate Pear Roly Poly, S..."
33,1.0,4.0,Ruth,IN,Peach and Blueberry Boy Bait,4.0,"Apple & Ginger Crumble, Rhubarb Suet Crust, Ch..."
34,1.0,4.0,David,OUT,Pear and Walnut Pudding,5.0,"Apple and Blackberry Crumble, Rhubarb and Oran..."
40,1.0,5.0,Edd,IN,"Chicken, Ham, Leek and Tarragon Pie",2.0,Almond Sweet Pastry with Ginger and Chocolate ...
41,1.0,5.0,Miranda,IN,"Summery Salmon, Cod and Prawn Fish Pie",1.0,Chocolate Pastry filled with Orange Cheesecake...
42,1.0,5.0,Ruth,IN,Minced Beef Pie,3.0,Raspberry and Dark Chocolate Tart Creme Patis...
43,1.0,5.0,Jasminder,OUT,Chicken and Mushroom Pie,4.0,"Jaggery, Carrot, and Spiced Condensed Milk Tar..."
50,1.0,6.0,Miranda,Runner-up,Lemon Cupcake,NaN,NaN
51,1.0,6.0,Ruth,Runner-up,"Mint, Ginger and Blackberry Cake",NaN,Red Pepper and Cheese Quiche TartsSultana Scon...
52,1.0,6.0,Edd,WINNER,Cinnamon and Banana Cake,NaN,Chocolate and Ginger TartsLemon Scones with Pa...

# EVERYTHING BELOW DOESNT WORK AND WILL BE REVIEWED WITH MENTOR

For each series
    for each episode
        if result ='Out'
            count the number of bakers
            give a score next to their name which is equal to total count per season
            subtract the count of number of bakers by the total count

In [ ]:
test_funct = challenges_df

In [ ]:
def baker_placement(row):
    if row['result'] == 'OUT':
        return (bakers_remaining)

In [ ]:
#count the number of bakers per season
baker_count = test_funct.groupby('series')['baker'].nunique()

#for each series
for s in test_funct.series.unique():  
    #create a interable that counts the number of bakers that have been eliminated. Start at 0
    bakers_out = 0
    bakers_remaining = baker_count[int(s)]
    
    #for each episode
    for e in test_funct.episode.unique():
        
        test_funct['final_score'] = test_funct.apply(lambda row: baker_placement(row),axis = 1)
        bakers_out += 1
        bakers_remaining -= bakers_out
test_funct

In [ ]:
test_funct.drop(columns='final_score',inplace = True)

In [ ]:
def final_score(df):
#count the number of bakers per season
    baker_count = df.groupby('series')['baker'].nunique()
    #for each season
    for s in df.series:  
        #create a interable that counts the number of bakers that have been eliminated. Start at 0
        bakers_out = 0
        bakers_remaining = baker_count[int(s)]
        #for each season
        for e in df.episode:
            #does result say OUT for each contestant?
            if df[(df.series ==s) & (df.episode ==e)].result.items == 'OUT':

                #if so, then we'll add +1 to our bakers_out iterator. 
                bakers_out +=1
                
                #set the final score category to our baker_count iterator
                df['final_score'] = bakers_remaining
                
                #subtract the number of bakers left by the amount we just lost
                bakers_remaining -= bakers_out
            else:
                next
    return df

In [ ]:
def finalplace(df):
    countbakers = df[['series','baker']].copy()
    countbakers['total_per_season'] = df.sort_values(['series'],ascending = False).groupby('series')['baker'].nunique()
    
    return countbakers